<!-- Sticky Header -->
<div class="flex sm:w-full h-[80px] shadow-md bg-white justify-center items-center 
  fixed top-0 left-0 w-full z-50">

    <!-- Home Link / WebApp Title -->
    <a aria-label="home" href="" class="bg-white w-full md:z-40 sm:relative text-2xl text-center">
      <div class="flex justify-center items-center w-full">
        <div class="text-xl font-medium text-[#0170BC]">{{webAppTitle}}</div>
      </div>
    </a>
</div>

<div class="pt-[80px]">

  
    <!-- WIP: Side Nav Menu Button -->
    <!-- <div class="absolute top-1/2 right-6 -translate-y-1/2">
      <app-button (click)="toggleSideNav()" variant="secondary">
        <fa-icon class="link-icon" [icon]="menuIcon" transform="shrink-2 down-1"></fa-icon>
        <span class="ml-2 text-sm">Menu</span>
      </app-button>
    </div> -->
  
  </div>
  